/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 1rem;
}
input[type=file] {
  width: 100%;
}

/*#ff7d1c*/
/*#ffd51c*/
.custom-btn:hover {
  background-color: #ffd51c !important;
  font-size: 22px !important;
  border: #fff !important;
  color: #000000 !important;
  width: 250px;
  margin: 5px;
  align-self: center;
}

.custom-btn:disabled, .custom-btn {
  background-color: white !important;
  font-size: 22px !important;
  border: #fff !important;
  color: #000000 !important;
  width: 250px;
  margin: 5px;
  align-self: center;
}

.logout-btn:hover {
  background-color: #ffd51c !important;
  font-size: 16px !important;
  border: #fff !important;
  color: #000000 !important;
  width: 100px;
  margin: 5px;
  align-self: end;
  justify-self: flex-end;
}

.logout-btn:disabled, .logout-btn {
  background-color: white !important;
  font-size: 16px !important;
  border: #fff !important;
  color: #000000 !important;
  width: 100px;
  margin: 5px;
  align-self: end;
  justify-self: flex-end;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
